<md-input-container>
  <input mdInput value="Disco party!" placeholder="Message" #message>
</md-input-container>

<md-input-container>
  <input mdInput value="Dance" placeholder="Action" #action>
</md-input-container>

<button md-button (click)="openSnackBar(message.value, action.value)">Show snack-bar</button>