.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}

.md-slider-horizontal {
  width: 300px;
}

.md-slider-vertical {
  height: 300px;
}