/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-radio-inner-circle{
  background-color: #cecece !important;
}

.mat-radio-checked .mat-radio-outer-circle {
  background-color: #cecece !important;
}